<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Awesome Profile-cards</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="../main.css">
    <script src="https://kit.fontawesome.com/c11d9a6c57.js" crossorigin="anonymous"></script>


</head>

<body class="main">
    <section class="card-preview">
        <div class="container">
            <article class="card">
                <div class="card__decoration card__decoration__palette<%=palette%>"></div>
                <div class="card__info">
                    <h3 class="card__info--name js_previewName js_previeNameColor namePreview__pallete<%=palette%>">
                        <%=name%>
                    </h3>
                    <p class="card__info--job js_previewJob">
                        <%=job%>
                    </p>
                </div><img src="<%=photo%>" alt="User avatar" class="card__img">
                <ul class="card__social ">
                    <li class="card__social--icon social__icon__palette<%=palette%> js_icon_border">
                        <a class="js_previewPhone" href="tel:+34630901052"><i
                                class="fas fa-mobile-alt icon_image__pallete1" aria-hidden="true"></i></a>
                    </li>
                    <li class="card__social--icon social__icon__palette<%=palette%> js_icon_border">
                        <a class="js_previewPhone" href="mailto:1"><i class="far fa-envelope icon_image__pallete1"
                                aria-hidden="true"></i></a>
                    </li>
                    <li class="card__social--icon social__icon__palette<%=palette%> js_icon_border">
                        <a class="js_previewPhone" href="https://www.linkedin.com/in/lauracarbajales"><i
                                class="fab fa-linkedin-in icon_image__pallete1" aria-hidden="true"></i></a>
                    </li>
                    <li class="card__social--icon social__icon__palette<%=palette%> js_icon_border">
                        <a class="js_previewPhone" href="https://github.com/eargv"><i
                                class="fab fa-github-alt icon_image__pallete1" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </article>
        </div>
    </section>

</body>

</html>